<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="pending">
        <h2>Pending Orders</h2>
          <h3 id="pending">Pending orders waiting for confirmation</h3>
          <ul class="messages">
            <% for(let i=0; i< orders.length; i++) {%> 
            <section id="<%=orders[i]._id%>">
            <li class="message">
              <span><%= orders[i].name%></span>
              <span><%= orders[i].size %></span>
              <span><%= orders[i].order %></span>
              <span><%= orders[i].status %></span>
              <span><%= orders[i].barista %></span>
              <% if(orders[i].status !== 'is ready for pick-up'){%>
              <span><i class="fas fa-mug-hot" aria-hidden="true"></i></span>
              <% } %>
            </li>
            <% } %>
            </section>
          </ul>
          <% if (user.local.email) { %>
        </div>
        <% } %>
      </div>
  
      <div class="completed">
        <h2>Completed Orders</h2>
        <span>Click Here To Clear Finished Orders<i class="fa fa-trash" aria-hidden="true"></i></span><br>
        <% for (let i = 0; i < done.length; i++) {%>
          <section id="<%=done[i]._id%>">
            <section class="allSet">
            <span id="number">Order #<%=i+1%></span>
            <h3 class="whoDone"><%=done[i].barista%> completed: <%=done[i].name%>'s order</h3>
            <span><%=done[i].name%></span>
            <span><%=done[i].size%></span>
            <span><%=done[i].order%></span>
            <span><%=done[i].status%></span>
            <span>| (<%=done[i].barista%>)</span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </section>
        </section>
        <%}%>
      </div>
    </div>
    <div class="sayMyName">

    </div>
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
